{
  "extends": "airbnb-typescript",
  "env": {
      "browser": true,
      "es2021": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
      "project": "./tsconfig.json"
  },
  "rules": {
      "react/prop-types": "off",
      "react/jsx-props-no-spreading": "off",
      "import/prefer-default-export": "off",
      "import/no-extraneous-dependencies": "off",
      "semi": "off",
      "@typescript-eslint/semi": "off",
      "quotes": "off",
      "@typescript-eslint/quotes": "off",
      "react/no-array-index-key": "off"
  }
}
